/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.divider {
  height: 0.05rem;
  width: 20%;
}

/* COLORS */
.secondary_color {
  color: #5f665f;
}

.sidebar_link,
.sidebar {
  color: #f1f1ed;
}

.content,
.link_txt,
.nav_link {
  color: #191b19;
}

.content,
.divider {
  background: #f1f1ed;
}

.experience_list_item::marker,
.all_projects,
.project_icon {
  color: #4f8068;
}

/* TYPOGRAPHY */
.sidebar_name,
.sidebar_motivation {
  text-transform: uppercase;
}

.sidebar_name {
  font-size: 2rem;
  font-weight: 400;
}

.sidebar_motivation {
  opacity: 0.85;
  letter-spacing: 0.05em;
}

.sidebar_contacts {
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  line-height: 1.5rem;
  background-color: rgba(18, 48, 37, 0.8);
  margin: 3em 0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease all;
}

.sidebar_contact:hover,
.all_projects:hover {
  text-decoration: underline;
}

.nav_link {
  font-size: 0.8rem;
  transition: 0.3s ease all;
}

.nav_link:hover {
  border-bottom: 0.15em solid #2d4439;
}

.section_num {
  color: #2d4439;
  font-size: 1rem;
  padding-right: 1em;
  flex-shrink: 0;
}

.education_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.section_header {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.section_text {
  line-height: 1.1rem;
  margin-bottom: 1em;
}

.all_projects {
  font-size: 0.7rem;
}

.project_header,
.project_description {
  font-size: 0.6rem;
}

/* ASIDE */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-family: "Cormorant Garamond", serif;
  flex: 0 0 30%;
  min-width: 0;
  min-height: 100vh;
  background-image:
    linear-gradient(
      rgba(12, 45, 34, 0.05) 0%,
      rgba(12, 45, 34, 0.1) 25%,
      rgba(12, 45, 34, 0.55) 40%,
      rgba(12, 45, 34, 0.55) 58%,
      rgba(12, 45, 34, 0.05) 75%
    ),
    url(./img/background-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 2% 0;
}

.avatar {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  border-radius: 50%;
  border: 0.05rem solid #f1f1ed;
}

.sidebar_motivation,
.divider_close {
  align-self: end;
}

.icons {
  margin-right: 0.5em;
}

/* CONTENT */

/* header */
.content {
  flex: 1;
  min-width: 0;
  padding: 1em;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 2em;
  margin: 0.05em;
  padding: 2em 0;
  border-top: 0.1em solid #c9ccc6;
  border-bottom: 0.1em solid #c9ccc6;
}

.section_container {
  display: flex;
}

.section_content,
.experience_details,
.education_details {
  border-left: 0.1em solid #c9ccc6;
}

.section_content {
  flex: 1;
  padding-left: 1.5em;
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  line-height: 1.1rem;
}

.skill,
.code_example,
.project_item:hover {
  background: #dce2da;
}

.skill {
  padding: 0.5em 0.9em;
  border-radius: 1em;
}

.code_example {
  font-size: 0.7rem;
  width: 100%;
  padding: 1em;
  border-left: 0.25em solid #4f8068;
  border-radius: 1em;
  line-height: 1.1rem;
}

.experience_item,
.education_item {
  display: flex;
}

.experience_date,
.education_date {
  width: 30%;
  flex-shrink: 0;
}

.experience_details,
.education_details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-left: 1em;
}

.experience_list {
  padding-left: 1em;
}

.experience_list_item {
  list-style: disc;
}

.projects_container {
  display: flex;
  justify-content: space-between;
}

.projects_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.7em;
}

.project_item {
  display: flex;
  border: 0.1em solid #c9ccc6;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  transition: 0.3s ease all;
}

.project_icon {
  font-size: 1.5rem;
}

.project_text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.link_container {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* footer */
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0 0;
  font-size: 0.7rem;
}

.rs_logo {
  width: 45px;
  height: auto;
}

.link_txt {
  display: flex;
}
